#featured {
  img {
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
}


.card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    top:50%;
    background: linear-gradient(180deg, transparent 0%, #020617 100%);
  }
}